<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <style media="screen">
            .input{
                display: flex;
                justify-content: space-around;
                margin: 20px auto;
            }
            .box{
                display:inline-block;
                justify-content: space-around;
                margin: 20px auto;
            }
        </style>
    </head>
    <body>
        <div class="box">
            <h1>This will send automatic mail to the give email</h1>
            <div class="input">
                <form class="" action="/" method="post">
                    <input type="text" name="name" value="">
                    <input type="email" name="email" value="">
                    <input type="submit" name="" value="submit">
                </form>
            </div>
        </div>
    </body>
</html>
